#floating-dock {
}

#floating-dock .item-box {
  border-radius: 9px;
  background-color: rgba(46, 52, 54, 0.3); }

#floating-dock .button-box {
  margin: 8px 8px 8px 8px; }

#floating-dock .button-box:hover {
  border-radius: 9px;
  background-color: rgba(46, 52, 54, 0.4); }

#floating-dock .app-running-dash {
  height: 3px;
  width: 15px;
  margin-bottom: 2px;
  background-color: #1b6acb; }

#floating-dock .app-running-dot {
  color: red; }

#floating-dock .app-button {
  padding: 0px; }

#floating-dock-number-icon {
  border-radius: 9px;
  padding: 2px;
  background-color: #eeeeec; }

#floating-dock-main-button {
  border-radius: 39px;
  padding: 8px; }

.transent-button {
  background-color: rgba(46, 52, 54, 0.4);
}

#floating-dock-around-button {
  border-radius: 9px;
  margin: 4px;
  padding: 4px; }
